# Authentication
BETTER_AUTH_SECRET=randomly_generated_secret_key
BETTER_AUTH_URL=http://localhost:3000

# Resend
RESEND_API_KEY=your_api_key
RESEND_MAGIC_LINK_TEMPLATE_ID=your_template_id

# GitHub credentials
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET

# Discord credentials
DISCORD_CLIENT_ID=DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=DISCORD_CLIENT_SECRET

# Atlas API credentials
API_SECRET_KEY=your_api_secret_key
R2_PUBLIC_URL=https://your-r2-bucket.example.com
S3_ACCESS_KEY_ID=your_r2_access_key_id
S3_SECRET_ACCESS_KEY=your_r2_secret_access_key
S3_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
S3_BUCKET=your_bucket_name
